@use "../custom" as *;

.nav_menu {
  button {
    background-color: $nav;
    border-style: none;
    text-align: center;
    padding: 0.3rem 1rem;
    font-weight: 500;
    font-size: 1rem;
  }
  .btn-cv {
    background-color: $nav-font;
    color: $body-font;
    padding: 0.6rem 1.5rem;
  }
}
